<div id="employment-meta-data">
  <h4>Education</h4>
  <p>
    <strong>Bachelor of Fine Arts ~ Emphasis in Printmaking</strong><br />
    Kansas City Art Institute, Kansas City, MO, 2001
  </p>

  <p>
    <strong>Certificate of Graduation</strong><br />
    Dakota School of Banking - Jamestown, ND, 2015
  </p>

  <hr />

  <h4>Skills</h4>
  <ul>
    <li>C#/.NET</li>
    <li>JavaScript</li>
    <li>C++</li>
    <li>Dart/Flutter</li>
    <li>TypeScript &amp; ES6</li>
    <li>React</li>
    <li>Angular JS (1 &amp; 2)</li>
    <li>jQuery</li>
    <li>HTML5/CSS3</li>
    <li>SASS/LESS</li>
    <li>Node</li>
    <li>AWS</li>
    <li>Photoshop</li>
    <li>Illustrator</li>
    <li>MySQL, MSSQL</li>
    <li>Agile</li>
    <li>Grunt, Gulp, Webpack, Vite, etc</li>
    <li>Git</li>
  </ul>

  <hr />

  <h4>Highlights</h4>
  <ul>
    <li>Frontend Focused, Full-Stack Developer</li>
    <li><span id="dynamic-experience">25+yrs</span> of experience.</li>

    <li>Team leader for over 5 years</li>
    <li>Experience with React, Vue, & Angular 1 and 2</li>
    <li>HTML/CSS and JavaScript expert</li>
  </ul>

  <hr />

  <h4>About</h4>
  <p>
    I consider myself an lifelong learner and enjoy reading about and learning new
    front-end technologies. I simply enjoy creating things that work well, and the web is
    an excellent platform for that passion. In my spare time I've been creating a MIDI device
    combined with a Flutter app to control guitar effects, play guitar, and like to work outside.
  </p>

  <hr />

  <h4>Contact</h4>
  <p>
    <a href="mailto:{{ site.email }}">{{ site.email }}</a><br />
    <a href="tel:{{ site.phone | remove: '(' | remove: ')' | remove: ' ' | remove: '-' }}"
      >{{ site.phone }}</a
    >
  </p>
</div>
