doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= "JamesEhly.com - " + title
    link(href="/assets/css/bundle.css", rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Yantramanav:300,400,500,700", rel="stylesheet")
  body
    #page
      #title
        .ro
          .co(style="width:360px")
              img.img-circle.img-responsive.img-me(src="/images/james-ehly-color.png", height="300", width="300")
          .co
            p.lead Hi! I'm James and I create flexible, testable, and creative web applications. As a full stack developer I enjoy designing and coding user experiences that make the web easier to use for my clients and their users.
            #find-me
              ul.nav.nav-pills
                li  
                  a(href="https://www.linkedin.com/in/ehlydesign/", title="LinkedIn")
                    i.fa.fa-linkedin
                li  
                  a(href="https://github.com/jamesehly", title="GitHub")
                    i.fa.fa-github
                li  
                  a(href="https://stackoverflow.com/users/1373075/james-ehly", title="Stack Overflow")
                    i.fa.fa-stack-overflow 
      #resume 
        .ro
          .co(style="width:60%")
            include:remarkable ../partials/resume/employment.md
          .co
            include:remarkable ../partials/resume/employment-meta.md

script(src="/assets/js/bundle.js")      
